@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

:root {
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-color: var(--color-bg-primary);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg-primary: #669bbc;
  --color-bg-secondary: #003049;
  --color-text-primary: #fdf0d5;
  --color-danger: #c1121f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
